.home-battle-summary-source { left: 219px; top: 36px; width: 375px; height: 332px; pointer-events: none; }
.home-battle-summary-source > .source-static-image, .home-battle-summary-source > .source-static-text { position: absolute; }
