.hud-minimap {
  position: absolute;
  left: 608px;
  top: 408px;
  width: 192px;
  height: 192px;
  overflow: hidden;
  pointer-events: none;
}

.hud-minimap-image {
  position: absolute;
  inset: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hud-minimap-content,
.hud-minimap-bound {
  position: absolute;
  inset: 0;
}

.hud-minimap-objective {
  position: absolute;
  width: 13px;
  height: 13px;
  margin: -6.5px 0 0 -6.5px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
}

.hud-minimap-objective[data-objective-team='0'] {
  filter: drop-shadow(0 0 1px #4db6ff);
}

.hud-minimap-objective[data-objective-team='1'] {
  filter: drop-shadow(0 0 1px #ff6d5b);
}

.hud-minimap-objective[data-objective-contested] {
  filter: drop-shadow(0 0 2px #fff);
}

.hud-minimap-objective[data-objective-destroyed] {
  opacity: .4;
}

.hud-minimap-actor,
.hud-minimap-local {
  position: absolute;
  display: block;
}

.hud-minimap-local img {
  display: block;
}

.hud-minimap-actor-image {
  display: block;
  width: 11px;
  height: 12px;
  mask-size: 11px 12px;
  mask-repeat: no-repeat;
  background-color: #f57e78;
}

.hud-minimap-actor[data-actor-side='friend'] .hud-minimap-actor-image {
  background-color: #80acf7;
}

.hud-minimap-local-image {
  display: block;
  width: 19px;
  height: 19px;
  mask-size: 19px 19px;
  mask-repeat: no-repeat;
  background-color: #5df587;
}

.hud-minimap-vip {
  position: absolute;
  left: 50%;
  top: -7px;
  width: 19px;
  height: 8px;
  margin-left: -9.5px;
}

.hud-minimap-frame {
  position: absolute;
  pointer-events: none;
}

.hud-minimap-frame-topleft {
  left: 0;
  top: 0;
}

.hud-minimap-frame-topright {
  right: 0;
  top: 0;
}

.hud-minimap-frame-bottomleft {
  left: 0;
  bottom: 0;
}

.hud-minimap-frame-bottomright {
  right: 0;
  bottom: 0;
}

.hud-minimap-frame-top,
.hud-minimap-frame-bottom {
  left: 16px;
  height: 16px;
  width: calc(100% - 32px);
}

.hud-minimap-frame-top {
  top: 0;
}

.hud-minimap-frame-bottom {
  bottom: 0;
}

.hud-minimap-frame-left,
.hud-minimap-frame-right {
  top: 16px;
  width: 16px;
  height: calc(100% - 32px);
}

.hud-minimap-frame-left {
  left: 0;
}

.hud-minimap-frame-right {
  right: 0;
}
