.hud-item-source-bar,
.hud-item-source-control {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  pointer-events: none;
}

.hud-item-source-control > img {
  display: inline-block;
  vertical-align: top;
}
